* {
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f6f8ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#signIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.input {
    width: 310px;
    height: 24px;
    padding: 20px;
    margin-bottom: 10px;
    border: none;
    background-color: #F1F4FF;
    color: #4b4b4b;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    user-select: none;
}

.input:focus {
    outline: #1F41BB solid 2px;
}

.button {
    width: 350px;
    height: 64px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ECECEC;
    color: #0A0A0A;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    transition: 0.1s;
    user-select: none;
}
.button:hover {
    background-color: #1F41BB;
    color: white;
    transition: 0.1s;
}
.button:active {
    background-color: #ECECEC;
    color: #0A0A0A;
    transition: 0.1s;
}
.link {
    margin-bottom: 20px;
    font-size: 14px;
    color: #494949;
    font-weight: 600;
    text-decoration: none;
    user-select: none;
}
#ResetLink {
    margin-bottom: 0px;
}

#SignLink {
    margin-bottom: 0px;
}
.Title {
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #1F41BB;
    background: none;
    user-select: none;
    width: 350px;
}
.Subtitle {
    margin-top: 0px;
    width: 350px;
    font-size: 20px;
    margin-bottom: 30px;
    user-select: none;
    text-align: center;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont {
    width: 380px;
    background: rgba(233, 255, 254, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: -1;
    border-radius: 20px;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#contSI {
    height: 500px;
}

#contSU {
    height: 780px;
}
#contFP {
    height: 480px;
}
#contOTP {
    height: 400px;
}
.otp {
    width: 50px;
    height: 64px;
    padding: 20px;
    margin: 3px;
    margin-bottom: 20px;
    text-align: center;
    border: none;
    background-color: #F1F4FF;
    color: #4b4b4b;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    user-select: none;
}

small {
    width: 310px;
    color: #4b4b4b;
}