{% extends "base.html" %}
{% block head %}
    <title>House Org - Login</title>
{% endblock %}

{% block body %}
    <canvas id="background" class="background"></canvas>
    <div id="contSI" class="cont"></div>
    <div id="signIn">
        <h1 id="Title" class="Title">Sign In</h1>
        <h2 id="Subtitle" class="Subtitle">You've been missed</h2>
        <form action="{{ url_for('login') }}" method="post">
            <input type="email" class="input" name="" id="SignInEmail" placeholder="Email" required>
            <input type="password" class="input" name="" id="SignInPassword" placeholder="Password" required>
            <input type="submit" value="Login" class="button" id="SignInButton" onclick="">
        </form>
        <a href="{{ url_for('register') }}" id="CreateLink" class="link">Register</a>
        <a href="{{ url_for('update_password') }}" id="ResetLink" class="link">Update Password</a>
    </div>
    <script src="{{ url_for('static', filename='js/signIn.js') }}"></script>
{% endblock %}