{% extends "base.html" %}
{% block head %}
    <title>House Org - Update Password</title>
{% endblock %}

{% block body %}
    <canvas id="background" class="background"></canvas>
    <div id="contFP" class="cont"></div>
    <div id="signIn">
        <h1 id="Title" class="Title">Update Password</h1>
        <h2 id="Subtitle" class="Subtitle">You forgot your password but we haven't forgotten you!</h2>
        <form action="{{ url_for('reset_password') }}" method="post">
            <input type="email" class="input" name="email" id="SignInEmail" placeholder="Email" required>
            <input type="button" value="Get OTP" class="button" id="SignInButton" onclick="getOTP()">
        </form>
        <a href="{{ url_for('register') }}" id="CreateLink" class="link">Register</a>
        <a href="{{ url_for('login') }}" id="SignLink" class="link">Login</a>
    </div>
    <script src="{{ url_for('static', filename='js/forgotPassword.js') }}"></script>
{% endblock %}